h1{
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    text-align: center;
}

p{
    font-family: 'Poppins', sans-serif;
}
span{
    font-family: 'Poppins', sans-serif;
}
.container{
    padding-top: 30px;
    padding-bottom: 30px;
}
.table{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.navbar-nav ml-auto{
    font-family: 'Poppins', sans-serif;
    padding-top:10px;
    padding-bottom:10px;
}
.navbar-brand text-body{
    font-family: 'Poppins', sans-serif;
    padding-top:10px;
    padding-bottom:10px;
}
.nav-item{
    font-family: 'Poppins', sans-serif;
    padding-top:10px;
    padding-bottom:10px;
}